.page-footer
{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 57px;
}
.footer-box
{
    display: flex;
    align-items: baseline;
}
.footer-text
{
    font-weight: 700px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    display: block;
}
.footer-social
{
    margin-left: 70px;
}
