.works
{
    padding-top: 0px;

}
.works-list
{
    display: flex;
    align-items: center;
    margin-left: -30px;
}
.works-list-item
{
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    position: relative;
}
.works-item-wraper
{
    position: absolute;
    width: 100%;
    background-color:  rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    bottom: 0;
}
.works-item-text
{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}